.about__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  max-width: 144rem;
  margin: 0 auto;
  .about__item {
    display: flex;
    flex-direction: column;
    min-width: 70rem;
    width: 50%;
    margin: 0 auto;
    min-width: 35rem;
    padding: 2%;
    h1 {
      text-align: right;
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      color: white;
      margin: 3rem 0 1rem 0;
    }
  }
}
.about__clouds {
  display: flex;
  position: relative;
  width: 50%;
  height: 40rem;
  margin-bottom: 5rem;
  .big__cloud {
    position: absolute;
    top: 0;
    left: 0;
    animation: moving 3s infinite alternate-reverse;
  }
  .small__cloud1 {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: rotateY(180deg);
    animation: moving1 2.5s infinite alternate-reverse;
  }
  .small__cloud2 {
    position: absolute;
    top: 35%;
    left: -10%;
    animation: moving2 2.5s infinite alternate-reverse;
  }
}

@keyframes moving {
  0% {
    left: 0%;
  }
  100% {
    left: 10%;
  }
}
@keyframes moving1 {
  0% {
    left: 10%;
  }
  100% {
    left: 0%;
  }
}
@keyframes moving2 {
  0% {
    left: -15%;
  }
  100% {
    left: -5%;
  }
}
