.page__content {
  padding: 2% 0;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.animation {
  display: flex;
  position: relative;
  width: 40%;
  height: 50rem;
  margin: 0 auto 5rem auto;
  flex-grow: 1;
  .big__cloud {
    position: absolute;
    top: 0;
    left: 0%;
    animation: moving 3s infinite alternate-reverse;
  }
  .med__cloud {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: rotateY(180deg);
    animation: moving1 1.5s infinite alternate-reverse;
  }
  .small__cloud {
    position: absolute;
    top: 30%;
    left: -10%;
    animation: moving2 1.5s infinite alternate-reverse;
  }
}
.categories {
  width: 60%;
  min-width: 35rem;
  display: flex;
  margin: 0 auto;
  flex-grow: 1;
  padding: 5%;
}
@keyframes moving {
  0% {
    left: 5%;
  }
  100% {
    left: 15%;
  }
}
@keyframes moving1 {
  0% {
    left: 15%;
  }
  100% {
    left: 10%;
  }
}
@keyframes moving2 {
  0% {
    left: -10%;
  }
  100% {
    left: -5%;
  }
}
