.projects_container {
  width: 100%;
  .projects__container__header {
    width: 100%;
    text-align: right;
    font-size: 3.2rem;
    font-weight: 500;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 auto 3% auto;
    color: white;
  }
}
.project__labels {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .project__label {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
  }
}
.project__section {
  margin-top: 1%;
  .project__preview {
    width: 100%;
    height: 40rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    img {
      height: 85%;
      border-radius: 1.5rem;
    }
    .project__programmes {
      width: 100%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10%;
      font-size: 4rem;
    }
  }
}
.projects {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  margin-top: 2.5%;
  gap: 2rem;

  .project {
    width: 30%;
    flex-grow: 1;
  }
  img {
    width: 15rem;
    border-radius: 1rem;
  }
}
